{% extends "base.htm" %}
{% block content %}

<form action="" method="post">
	<div class="field-wrapper">
		<div class="field-label">
			<label for="id_name">Title</label>:
		</div>
		<div class="field-field">
			<input type="text" name="name" value="{{url.name}}" id="id_name" />
		</div>
	</div>
	
	
	<div class="field-wrapper">
		<div class="field-label">
			<label for="id_shorturl">Short url</label>:
		</div>
		<div class="field-field">
			<input type="text" name="shorturl" value="{{url.shorturl}}" id="id_shorturl" />
		</div>
	</div>
			
	<div class="field-wrapper">
		<div class="field-label">
			<label for="id_url">Url</label>:
		</div>
		<div class="field-field">
			<input type="text" name="url" value="{{url.url}}" id="id_url" />
		</div>
	</div>
	
	<br />
	<input type="submit" value=submit />
</form>

{% endblock content %}
